################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/src/Client/bin/
/src/Client/obj
/src/Server/bin/
/src/Server/obj
